<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sky.learnandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".jetpack.viewbinding.ClickMeActivity"></activity>
        <activity android:name=".jetpack.livedata.TestLiveDataActivity" />
        <activity android:name=".jetpack.databinding.TestDataBindingActivity" />
        <activity android:name=".jetpack.JetpackActivity" />
        <activity android:name=".architecture.NoArchitectureActivity" />
        <activity android:name=".architecture.mvvm.MvvmActivity" />
        <activity android:name=".architecture.mvp.MvpActivity" />
        <activity android:name=".architecture.mvc.MvcActivity" />
        <activity android:name=".architecture.ArchitectureActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lifecycler.LifeCyclerActivity" />
        <activity android:name=".lifecycler.NormalActivity" />
        <activity
            android:name=".lifecycler.DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".lauchmode.LauchModeActivity" />
        <activity
            android:name=".lauchmode.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".lauchmode.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".lauchmode.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".lauchmode.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".aboutview.AboutViewActivity" />
        <activity android:name=".aboutview.ViewPropsActivity" />
        <activity android:name=".aboutview.MoveWithFingerActivity" />
        <activity android:name=".IPC.IPCMainActivity" />
        <activity
            android:name=".IPC.Remote1Activity"
            android:process=":remote1" />
        <activity
            android:name=".IPC.Remote2Activity"
            android:process="com.sky.learnandroid.remote2" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".service.ServiceMainActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sky.service.MyService" />
            </intent-filter>
        </service>

        <activity android:name=".service.AnotherBindServiceActivity" />
        <activity android:name=".aboutview.ScrollViewActivity" />
    </application>

</manifest>